<md-sidenav class="md-sidenav-left md-whiteframe-z5"
  md-component-id="left"
  md-is-open="vm.sidenavOpen">
  <md-toolbar>
    <h1 class="md-toolbar-tools">Add a Classified</h1>
  </md-toolbar>
  <md-content layout-padding> 
  <form>
    <md-input-container>
    <label for="title">Title</label>
    <input type="text" id="title" ng-model="classified.title" md-autofocus/>
    </md-input-container>
    <md-input-container>
    <label for="price">Price</label>
    <input type="text" id="price" ng-model="classified.price"/>
    </md-input-container>
    <md-input-container>
    <label for="description">Description</label>
    <textarea type="text" id="description" ng-model="classified.description">
    </textarea>
    </md-input-container>
    <md-input-container>
    <label for="imageLink">Image Link</label>
    <input type="text" id="imageLink" ng-model="classified.image"/>
    </md-input-container>
    <md-button ng-if="!editing" ng-click="vm.saveClassified(classified)" class="md-primary">
      Save
    </md-button>
    <md-button ng-if="editing" ng-click="vm.editSave(classified)" class="md-primary">
      Save Edit
    </md-button>
    <md-button class="md-warn" ng-click="vm.closeSidenav()">
      Cancel
    </md-button>
    <pre>{{ classified | json }}</pre>
  </form>
  </md-content>
</md-sidenav>
