<!DOCTYPE html>
<html>
<head>
  <title>First AngularJs Application</title>
  <link rel="stylesheet"  href="node_modules/angular-material/angular-material.css">
  <link rel="stylesheet" media="all" type="text/css" href="node_modules/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="ngClassifieds" ng-controller="classifiedsCtrl">

<md-toolbar>
  <div class="md-toolbar-tools">
  <p><strong>ngClassifieds</strong></p>

  <md-button>
    <md-icon class="mdi mdi-plus-circle"></md-icon>
    New Project
  </md-button>
  </div>
</md-toolbar>

<md-content class="md-padding" layout="row" layout-wrap layout-margin>
  <md-card ng-repeat="classified in classifieds" flex="30" >
    <img ng-src="{{ classified.image }}" alt="No image to show."  flex="2 auto"/>
    <md-card-content>
     <div class="classified-info" ng-show="!showContact">
      <h2 class="md-title=">{{ classified.title }}</h2>
      <h3 class="md-price">{{ classified.price | currency }}</h3>
      <p class="md-description">{{ classified.description }}</p>
     </div>
     <div class="classified-contacts" ng-show="showContact">
     <div layout="column">
     <div layout="row">
      <button 
        ng-click="showName=true"
        ng-show="!showName"
            style="border-radius:10px"
      >Show Name</button>
      <button 
        ng-click="showName=false"
        ng-show="showName"
        style="border-radius:10px"
      >Hide Name</button>
      </div>
     <p ng-show="showName"><md-icon class="mdi mdi-account"></md-icon>{{ classified.contacts.name }}</p></div>
     <p><md-icon class="mdi mdi-phone"></md-icon>{{ classified.contacts.phone }}</p>
     <p><md-icon class="mdi mdi-email"></md-icon>{{ classified.contacts.email }}</p>
     </div>
     <div layout="row">
       <md-button 
        ng-click="showContact=false" 
        ng-show="showContact"
       >Details</md-button>
       <md-button 
        ng-click="showContact=true" 
        ng-show="!showContact"
       >Contacts</md-button>
       <md-button 
        ng-click="showAdmin=true" 
        ng-show="!showAdmin" 
       >Admin</md-button>
       <md-button 
        ng-click="showAdmin=false" 
        ng-show="showAdmin"
       >Close</md-button>
     </div>
     <div class="classified-admin" ng-if="showAdmin">
      <h4>Admin</h4>
      <div layout="row">
        <md-button class="md-primary">Edit</md-button>
        <md-button class="md-warn">Delete</md-button>
      </div>
     </div>
    </md-card-content>
  </md-card>
</md-content>


<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-animate/angular-animate.js"></script>
<script src="node_modules/angular-aria/angular-aria.js"></script>
<script src="node_modules/angular-material/angular-material.js"></script>
<script src="scripts/app.js"></script>
<script src="components/classifieds.ctr.js"></script>
</body>
</html>